.App {
  text-align: center;
}
.cart-wrapper {
  border: 1px solid #ccc;
  width: 300px;
  padding: 20px;
}
.cart-wrapper p {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
.cart-wrapper button {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 10px;
  box-shadow: 4px 4px 4px #CCC;
  margin: 10px;
}